<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/logo.png" alt="logo">
	</a>
	<ul class="header__menu">
		<li class="sidebar__title">BangDB - Introduction</li>
		<li><a href="section__1" class="header__menu-link anchor">Overview</a></li>
		<li><a href="#" class="header__menu-link anchor">Feature details</a></li>
		<li><a href="#" class="header__menu-link">Multi flavor</a></li>
		<li><a href="#" class="header__menu-link">Language support</a></li>
		<li><a href="#" class="header__menu-link">Platform support</a></li>
		<li><a href="#" class="header__menu-link">License</a></li>
	</ul>
	<a href="#" class="button">Button</a>
	<div class="icon-menu"><span></span></div>
</header>